7mioCrimes.csv
crimes_e_columns_ficken.csv
crimes_e_columns_ficken_fbiCode.csv
crimes_e_columns_ficken_with_diagrams.csv
Crimes_Original.csv
imb.csv
kluc.csv
out.csv
Crimes_-_2001_to_present.csv
Crimes_-_2001_to_present_19042020.csv
Crimes_-_One_year_prior_to_present_19042020.csv
._pyache_
.vscode
StatisticsFirstRun/Vergleiche_FQ_Metric/*
website/node_modules/.cached/*